$color1: #d73f09;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Playfair+Display:wght@700;800;900&display=swap');

.students-page-outer-container {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, .4)
    );
    z-index: 400;
}


.students-page-inner-container {}

.students-hero-outer-container {}

.students-hero-inner-container {
    display: flex;

}

.students-hero-calling {
    font-size: 4rem;
    margin-top: 5rem;
    line-height: 1.35;
    margin-bottom: 1.35rem;
}

.students-hero-statement {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.075rem;
    max-width: 60%;
    line-height: 1.8;
    letter-spacing: .7px;
}

.students-hero-add-form {
    margin-top: 5rem;
    padding: 1rem;
    border-radius: 6px;
    height: fit-content;

    background-color: lightblue;
}

.students-list-outer-container {}

.students-list-inner-container {
    width: 100%;
    margin: 0 auto;
}

.students-list-title {
    color: $color1;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.students-list-collection {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.student {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
    margin-bottom: 3rem;
    box-shadow: #f0f0f9 1px 1px 15px;
    display: flex;
    justify-content: space-between;
}

.student:hover {
    cursor: pointer;
}

.student-name {
    color: $color1;
    font-size: 1.35rem;
}

.student-major {}

.student-container {
    width: 100%;
}

.student-options {
    display: flex;
}

.student-edit {
    margin-right: 1rem;
    color: #fff;
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    border-radius: 9px;
    background-color: #424242;
    padding: .35rem 1rem;
}

.student-delete {
    color: #fff;
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    border-radius: 9px;
    background-color: #c70000;
    padding: .35rem 1rem;
}

.student-edit-inner-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.student-edit-title {
    text-align: center;
    font-size: 4rem;
    word-spacing: 1rem;
    margin-bottom: 2rem;
    color: #444;
}

.student-info-container {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.student-info-name {
    border: none;
    border-bottom-style: solid;
    border-bottom-color: #d73f09;
    border-bottom-width: 2px;
    margin-bottom: 2rem;
    text-align: center;
    padding: 1rem 0;
}

.student-info-major {
    border: none;
    border-bottom-style: solid;
    border-bottom-color: #d73f09;
    border-bottom-width: 2px;
    margin-bottom: 2rem;
    text-align: center;
    padding: 1rem 0;
}

.update-student-information-btn {
    background-color: #d73f09;
    width: fit-content;
    padding: .5rem 1.5rem;
    color: #fff;
    font-weight: bold;
    letter-spacing: .5px;
    border-radius: 3px;
}

.update-student-information-btn:hover {
    cursor: pointer;
}

@media (min-width: 1080px) {
    .students-hero-inner-container {
        max-width: 80%;
        margin: 0 auto;
        min-height: 90vh;
    }
}